################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Az204/obj
/Az204/bin/Debug/net8.0
/.vs/Az204
